# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/src/assets/_ru/Course1
/src/assets/_ru/Course2
/src/assets/_ru/Course3
/src/assets/_ru/Course4
/src/assets/_ru/Course5
/src/assets/_ru/Course6
/src/assets/_eng/Course1
/src/assets/_eng/Course2
/src/assets/_eng/Course3
/src/assets/_eng/Course4
/src/assets/_eng/Course5
/src/assets/_eng/Course6
/.pnp
.pnp.js
package-lock.json
/.idea

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
